@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/*===========================================
General
===========================================*/
html,
body {
    width: 100%;
    scroll-behavior: smooth;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 14px;
    margin: 0;
    letter-spacing: .5px;
    color: #1c1c1b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Arial Black', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #1c1c1b;
}

.logo {
    display: flex;
}

.slogan {
    padding-top: 19px;
    font-family: 'Jenna Sue';
    margin-right: 10px;
    font-weight: lighter;
    text-transform: none;
}

.m-0 {
    margin: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-f-20 {
    padding: 20px;
}

.p-f-30 {
    padding: 20px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.btn:focus,
button:focus {
    outline: none !important;
}

.bg-img {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.p-30 {
    padding: 30px 0;
}

.cmn-btn {
    color: #fff;
    background-color: #fea301;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    padding: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    border: 1px solid #fea301;
    transition: all .2s ease-in;
    display: inline-block;
}

.cmn-btn:hover,
.cmn-btn:focus {
    color: #fff;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 4px 14px #d4d5d9;
}

.two-btn {
    margin-right: 10px;
}

.theme-color {
    color: #fea301;
}

.p-80 {
    padding: 80px 0px;
}

/*===========================================
Typography
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    color: #000;
    font-size: 45px;
}

h2 {
    color: #111;
    font-size: 40px;
}

h3 {
    color: #222;
    font-size: 35px;
}

h4 {
    color: #333;
    font-size: 30px;
}

h5 {
    color: #444;
    font-size: 25px;
}

h6 {
    color: #555;
    font-size: 20px;
}

p {
    font-size: 1em;
    line-height: 1.1em;
}

/*===========================================
Header Page
===========================================*/

.navbar-default {
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    background-color: #fff;
    min-height: 75px;
    border: 0px;
    margin-bottom: 0px;
}

.navbar-brand>img {
    height: 80px;
}

.navbar-default .navbar-brand {
    padding: 0;
    margin-left: 0 !important;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
}

.navbar-collapse {
    margin-top: 10px;
}

.sub-address {
    font-weight: 700;
    color: #3d4152;
    border-bottom: 2px solid #3d4152;
    display: inline-block;
    font-size: 13px;
}

.nav-address:hover .sub-address {
    color: #fea301;
    border-color: #fea301;
}

#navgation-1 {
    font-family: "Proxima-Nova";
}

.nav-address-name {
    margin-left: 5px;
    color: #686b78;
    font-size: 13px;
    line-height: 1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
    height: 22px;
    white-space: nowrap;
    display: inline-block;
    padding-top: 9px;
    vertical-align: sub;
}

.address-arrow {
    color: #fea301;
    font-size: 20px;
    vertical-align: middle;
    line-height: 0;
    margin-left: 10px;
}
..navbar-default .navbar-nav>li>a{
    padding: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #3d4152;
    /*padding: 10px 20px;*/
    font-size: 16px;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fea301;
}

.navbar-default .navbar-nav>li>a i {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.navbar-right {
    margin-top: 7px;
}

.addressform {
    margin-bottom: 0;
    min-height: auto;
    margin-top: 0;
}

.addressform li a {
    padding: 0 15px;
}

.cart-count {
    font-size: 12px;
    padding: 4px;
    background-color: #fea301;
    color: #fff;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    width: 18px;
    line-height: 1;
}

.dropdown-menu {
    padding: 0px;
}

.dropdown-menu>li>a {
    padding: 10px 20px;
    color: #3d4152;
    font-size: 15px;
}

.dropdown-menu>li>a:hover {
    color: #3d4152;
    font-weight: 600;
    background: #fff;
}

/*===========================================
Login Page
===========================================*/

.login-tit {
    font-size: 20px;
    font-weight: 600;
}

.login-txt {
    font-size: 14px;
}

.login-icon {
    height: 90px;
}

.login-btn {
    color: #fff;
    background-color: #fea301;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    display: block;
    border: 0px;
    padding: 10px;
    margin-top: 20px;
}

.login-back-btn {
    margin-bottom: 10px;
}

.theme-link {
    color: #fea301;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}

.theme-link:hover,
.theme-link:focus {
    color: #fea301;
    opacity: .9;
}

.signup-txt {
    color: #666;
    margin-top: 10px;
}

.login-content-left {
    padding: 70px;
}

.login-logo img {
    height: 60px;
}

.login-item {
    display: inline-block;
    padding: 10px 45px;
    color: #fff;
    background-color: #4d4f71;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .5px;
    text-align: center;
    border-radius: 5px;
}

.login-item:hover {
    color: #fff;
}

.signup-item {
    padding: 10px 45px;
    padding: 10px 45px;
    background-color: #fab518;
    color: #4d4f71;
    font-size: 16px;
    /* font-weight: 600; */
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12);
    text-align: center;
    border-radius: 5px;
}

.log-loc-content {
    margin-top: 200px;
}

.loc-slide-tit {
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
}

.slick-initialized .slick-slide:focus {
    outline: 0;
}

.log-loc-txt {
    font-size: 24px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: -.3px;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.log-location-search {
    border: 1px;
}

.log-location-search:focus {
    outline: 0;
    border-color: #fea301;
    box-shadow: 0 2px 8px #d4d5d9;
}

.log-location-search .form-control {
    height: 58px;
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
}

.log-location-search .input-group-addon {
    border-radius: 0px;
    border: 0px;
}

.log-search-btn {
    background-color: #4d4f71 !important;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .53px;
    color: #ffff !important;
    text-transform: uppercase;
    letter-spacing: .53px;
}

.log-search-btn button {
    border: 0;
    background: transparent;
    height: 46px;
}

.locate-me-btn {
    background-color: #fff;
    cursor: pointer;
}

.locate-me-btn:hover,
.locate-me-btn:focus {
    background-color: #e9e9eb;
}

.login-right-img {
    height: 500px;
}

.log-places {
    color: #a9abb2;
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    display: inline-block;
}

.log-places:hover {
    opacity: .8;
    color: #a9abb2;
}

.log-places:nth-child(2n) {
    color: #bebfc5;
}

.feature-section {
    background-color: #fff;
    padding: 30px 0px 40px;
    border-bottom: 10px solid #f9b410;
}

.feature-img {
    height: 90px;
    margin-bottom: 20px;
}

.feature-tit {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    color: #1c1c1b;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.feature-txt {
    margin-top: 10px;
    color: #1c1c1b;
    line-height: 1.3;
    font-weight: normal;
    font-family: "Proxima-Nova", Helvetica, Arial, sans-serif;
}

.download-section {
    border-bottom: 10px solid #fea301;
}

.download-sec-left-inner {
    padding: 98px 0px;
}

.download-tit-one {
    font-weight: bolder;
}

.download-tit-two {
    font-weight: normal;
    letter-spacing: 2px;
}

.download-tit {
    font-size: 40px;
    letter-spacing: -.45px;
    color: #1c1c1b;
    margin-bottom: 20px;
    text-align: center;
}

.download-txt {
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #6f6f6e;
    line-height: 1.5;
    font-family: "Proxima-Nova";
    width: 400px;
    text-align: center;
}

.download-img {
    display: inline-block;
    margin-right: 10px;
}

.download-img img {
    height: 54px;
}

.download-sec-right {
    position: relative;
}

.app-screen-1 {
    height: 420px;
    background-size: contain !important;
    display: inline-block;
    width: 100%;
}

.app-screen-2 {
    height: 473px;
    background-size: contain !important;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
}

/*.foot-places-outer {*/
/*    background-color: #FEA301;*/
/*    padding: 10px 0px;*/
/*}*/

.foot-places-item {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-right: 40px;
    position: relative;
}

.foot-places-item:after {
    content: "\f111";
    font-family: 'FontAwesome';
    position: absolute;
    right: -20px;
    top: 10px;
    font-size: 5px;
    vertical-align: unset;
}

.foot-places-item:hover {
    font-weight: 600;
    color: #fff;
}

.app-screen-right {
    line-height: 0px;
}

.social-login {
    text-align: center;
    padding: 20px 0px;
}

.social-login-item {
    font-size: 35px;
    margin-right: 20px;
    display: inline-block;
    color: #282c3f;
}

.social-login-item:hover {
    color: #fea301;
}

.or {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.or::before {
    content: '';
    position: absolute;
    top: 9px;
    left: 0px;
    bottom: 0px;
    right: 68%;
    height: 1px;
    background: #fea301;
    z-index: -1;
}

.or::after {
    content: '';
    position: absolute;
    top: 9px;
    left: 68%;
    bottom: 0px;
    right: 0px;
    height: 1px;
    background: #fea301;
    z-index: -1;
}

/*===========================================
Footer CSS
===========================================*/
.footer {
    /* background-color: #000; */
    background-image: url(/assets/img/footer-bg.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 20px solid #fea301;
    padding: 20px 0;
}

.foot-top {
    padding: 15px 0px;
    border-bottom: 1px solid #4d4d4d;
}

.foot-tit {
    color: gray;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Arial Black";
}

.foot-item {
    display: block;
    color: #000;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 10px;
    font-family: "Proxima-Nova";
}

.foot-item:hover,
.foot-item:focus {
    font-weight: 600;
    color: #000;
}

.foot-download-img img {
    height: 70px;
    margin-bottom: 20px;
}

.foot-btm {
    padding: 15px 0px;
}

.foot-logo img {
    height: 50px;
}

.copy-txt {
    color: #fff;
    text-align: center;
    font-size: 20px;
    /* letter-spacing: -.6px; */
    margin: 13px;
    font-weight: normal;
    font-family: "Proxima-Nova";
}

.foot-social-item {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    will-change: transform;
    transition: -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
    transition: transform .5s cubic-bezier(.215, .61, .355, 1);
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
    color: #fff;
    font-size: 25px;
    padding: 15px 15px;
    display: inline-block;
}

.foot-social-item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #fff;
}

/*===========================================
Home Page
===========================================*/

.intro-banner-outer {
    padding: 20px 0px;
}

.intro-banner-img {
    height: 300px;
    margin: 20px;
}

.intro-box {
    display: block;
    transition: -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
    transition: transform .5s cubic-bezier(.215, .61, .355, 1);
    transition: transform .5s cubic-bezier(.215, .61, .355, 1), -webkit-transform .5s cubic-bezier(.215, .61, .355, 1);
}

.intro-box:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.slick-prev,
.slick-next {
    width: auto;
    height: auto;
    font-size: 0px;
}

.slick-prev:before,
.slick-next:before {
    font-family: "Ionicons";
    color: #535665;
    font-size: 30px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(41, 48, 63, .25);
    border-radius: 100%;
    opacity: 1;
    padding: 10px 14px;
    transition: -webkit-transform .3s cubic-bezier(.215, .61, .355, 1);
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    transition: transform .3s cubic-bezier(.215, .61, .355, 1), -webkit-transform .3s cubic-bezier(.215, .61, .355, 1);
}

.slick-next:before {
    content: "\f3d6";
}

.slick-prev:before {
    content: "\f3d5";
}

.slick-prev {
    left: -60px;
    z-index: 10;
}

.slick-next {
    right: -60px;
}

.carousel-indicators li {
    width: 12px !important;
    height: 12px !important;
    background-color: #fff !important;
    border: none !important;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #f9b410 !important;
}

.restaurant-filters {
    padding-top: 35px;
    box-shadow: 0 0px 4px 0 rgba(48, 56, 97, .2);
}

.res-filter-box {
    display: block;
    transition: all .3s ease-in;
}

.res-filter-box:hover .res-filter-icon {
    transform: scale(1.2);
}

.res-filter-icon {
    background-color: #fea301;
    color: #fff;
    padding: 13px 15px;
    border-radius: 100%;
    font-size: 23px;
    display: inline-block;
    margin-right: 10px;
    line-height: 10px;
}

.restaurant-filters.res-filters-fixed {
    position: fixed;
    top: 0;
}

.res-filter-txt {
    display: inline-block;
}

.res-filter-name {
    color: #1c1c1b;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.res-filter-box:hover .res-filter-name {
    color: #fea301;
    border-bottom: 2px solid #edb534;
}

.res-filter-option {
    opacity: .8;
    font-size: 10px;
    margin-top: 2px;
    text-transform: uppercase;
    color: #535665;
}

.res-filter-box:hover .res-filter-option {
    color: #fea301;
}

/*.res-filter-box.active {*/
/*    background-color: #FEA301;*/
/*}*/

.banner-offer {
    border: 2px solid #eeb533;
    padding: 10px;
}

.restaurant-banner.row {
    box-shadow: 0px 0px 6px -1px #333;
    border-radius: 5px;
    padding: 20px;
    background: #fff;
    position: relative;
    margin-left: auto;
    margin-top: 90px;
    min-height: 189px;
}

.shop-detail-item h4 {
    font-size: 24px;
}

.shop-detail-item {
    font-size: 12px;
    padding: 5px 15px !important;
}

.shop-detail-item:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 10%;
    width: 2px;
    height: 40px;
    background: #333;
}

.shop-detail-item:last-child:after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 10%;
    width: 2px;
    height: 40px;
    background: none;
}

.position-relative {
    position: relative;
}

.restaurant-banner.row {
    padding: 20px 10px !important;
}

.banner-offer h5 {
    color: #333;
    font-size: 24px;
    font-weight: 400;
}

.banner-offer-txt {
    color: #333;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0px;
}

.res-filter-box.active .res-filter-icon {
    color: #fea301;
    background-color: #fff;
    box-shadow: 0 0 8px 3px #d1603c;
}

.res-filter-box.active .res-filter-name {
    color: #edb534;
    border-bottom: 2px solid #edb534;
}

.res-filter-box.active:hover .res-filter-name {
    color: #edb534;
}

.res-filter-box.active .res-filter-option {
    color: #edb534;
}

.res-filter-box.active:hover .res-filter-option {
    color: #edb534;
}

.food-sec-right {
    padding-left: 40px;
}

.res-filter-list-section {
    padding: 40px 0px;
    border-bottom: 1px dashed #bebfc5;
}

.res-filter-list-head {
    margin-bottom: 30px;
    margin-top: 30px;
}

.res-filter-list-head h5 {
    font-size: 28px;
    font-weight: 600;
    color: #282c3f;
}

.food-item-txt {
    font-size: 13px;
    color: #686b78;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.food-item-box {
    display: block;
    border: 1px solid transparent;
    padding: 20px;
    transition: all .3s ease-in;
    background-color: #fff;
}

.food-item-box:hover {
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgba(218, 220, 230, .6);
}

.food-img {
    height: 100%;
    margin-bottom: 15px;
    width: 100%;
    min-height: 160px;
}

.food-img {
    position: relative;
}

.food-image {
    margin-bottom: 20px;
}

.food-det-tit {
    font-size: 17px;
    font-weight: 600;
    word-break: break-word;
    color: #282c3f;
    text-overflow: ellipsis;
    overflow: hidden;
    /* height: 22px; */
    white-space: nowrap;
}

.food-det-txt {
    color: #686b78;
    font-size: 13px;
    margin-top: -4px;
    height: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
}

/*.food-other-details {*/
/*    margin-top: -10px;*/
/*}*/

.food-rating {
    padding: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #1c1c1b;
}

.brdr-right {
    border-right: 2px solid #596172;
}

.ratingActive {
    font-size: 16px;
    color: #f5b118;
}

.ratingInActive {
    font-size: 14px;
    color: #4d4e6f;
}

.food-list-txt {
    font-size: 12px;
    color: #535665;
    text-transform: uppercase;
}

.all-restaurant-list {
    background-color: #fea301;
    padding: 20px;
}

.all-res-list-inner {
    padding: 50px;
    background-color: #fff;
}

.all-res-tit h4 {
    text-align: center;
    padding: 50px 0;
    color: #fff;
    text-transform: uppercase;
}

.all-res-head-tit {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 5px !important;
}

.up-filter {
    box-shadow: 0 1px 4px 0 rgba(40, 44, 63, .4);
    line-height: 2px;
    padding: 3px 10px;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    color: #fea301;
    font-size: 22px;
    margin-right: 10px;
}

.nav-tabs>li {
    /*float: none;*/
    margin-bottom: 0px;
    display: inline-block;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #3d4152;
    cursor: default;
    background-color: #fff;
    border: 0px;
    border-bottom: 1px solid rgb(239, 120, 34);
}

.nav-tabs>li>a {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #686b78;
    border: 0px;
    border-bottom: 1px solid transparent;
    transition: all .3s ease-in;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    background-color: #fff;
    border-bottom: 1px solid transparent;
}

.all-res-tab-content {
    padding-top: 50px;
}

.all-res-head {
    border-bottom: 1px solid #e5e5e5;
}

.all-restaurant-list {
    padding-bottom: 100px;
    margin-bottom: 40px;
}

.filter-item {
    position: relative;
    padding-right: 30px !important;
}

.filter-icon {
    color: #fea301;
    border: 1.5px solid #fea301;
    padding: 8px;
    border-radius: 100%;
    position: absolute;
    top: 0px;
    right: -9px;
    font-size: 14px;
}

.overflow-hidden {
    overflow: hidden;
}

.banner {
    position: relative;
}

.banner-slider .slide {
    min-height: 400px;
    position: relative;
}

.banner-slider .slide img {
    max-width: 100%;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.justify-content-center {
    justify-content: center;
}

.slider-search {
    position: absolute;
    top: 50%;
    left: 58%;
    z-index: 15;
    width: 100%;
    padding-left: 0;
    text-align: center;
    list-style: none;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.ticker {
    background: #f2b833;
    color: #fff;
    padding: 5px 0;
    font-weight: 700;
}

.ticker p {
    margin: 0;
    font-size: 16px;
}

.join-us {
    padding: 30px 0;
}

.carousel-indicators li {
    width: 12px !important;
    height: 12px !important;
    background-color: #fff !important;
    border: none !important;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #f9b410 !important;
}

/*all categories*/
.categorie-pic li {
    display: inline-block;
    padding-right: 8px;
    text-align: center;
    list-style: none;
}

.categorie-pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.items-span {
    display: block;
    font-size: 13 px;
    color: #000;
    font-weight: 400;
}

.view-all {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: rgb(248, 82, 70);
    border: none;
    color: #fff;
}

.categorie {
    padding-top: 80px;
}

.categorie-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}

/*card*/
.card-section {
    padding-top: 80px;
    padding-bottom: 90px;
}

.card-inner {
    margin-top: 20px;
}

/*===========================================
Sidebar Page
===========================================*/

.aside {
    min-width: 350px;
    width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 2000;
    width: 0px;
    min-width: 0px;
    overflow: hidden;
    transition: 0.35s width ease, 0.35s min-width ease;
}

.aside.in {
    width: 20%;
    min-width: 450px;
}

.right-aside {
    right: 0px;
    left: auto;
}

.aside .aside-header {
    padding: 30px 40px;
}

.aside .aside-header .close {
    float: left;
    cursor: pointer;
    font-size: 20px;
    margin-right: 15px;
}

.aside .aside-contents {
    padding: 40px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 10px;
    margin-top: -60px;
}

.aside-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    transition: 0.2s opacity ease;
    opacity: 0;
    display: none;
}

.aside-backdrop.in {
    display: block;
    opacity: 0.5;
}

.aside-tit {
    font-weight: 700;
    color: #282c3f;
    font-size: 20px;
    margin-bottom: 0px;
}

.form-group {
    position: relative;
}

.form-control {
    font-size: 16px;
    display: block;
    border: 0px;
    border: 1px solid #d4d5d9;
    height: 30px;
    border-radius: 0px;
    box-shadow: none;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #d4d5d9;
}

label {
    font-size: 13px;
    font-weight: 500;
    color: #3d4152;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    line-height: 16px;
}

.add-address-btn {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border: 0px;
    background: #fea301;
    color: #fff;
}

.add-address-btn:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    box-shadow: 0 2px 8px #d4d5d9;
}

.change-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #fea301;
    font-size: 14px;
    display: inline-block;
}

.change-link:hover {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
    color: #fea301;
}

.aside-contents::-webkit-scrollbar {
    display: none;
}

.register_btn {
    margin-bottom: 40px;
}

.content-wrapper-img {
    position: absolute;
    left: -10%;
    top: -19px;
    width: 350px;
    height: 180px;
}

@media (max-width: 500px) {
    .aside.in {
        min-width: 100%;
    }
}

/*menu-tabs*/
form {
    display: block;
    margin-top: 0em;
}

.content-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}

.search-box {
    box-shadow: 0 3px 15px 0 rgb(40 44 63 / 20%);
    border: 1px solid rgba(0, 0, 0, .04);
    height: 40px;
    background-color: #fff;
}

.search-box1 {
    padding: 10px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.res-banner-search .form-control {
    border: 0px;
    border-radius: 0px;
    height: 40px;
    padding: 0px;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.res-banner-search .input-group-addon {
    background-color: #fff;
    border: 0px;
    border-radius: 0px;
}

.res-favourite i {
    font-size: 19px;
    vertical-align: middle;
    margin-right: 5px;
    transition: all .3s ease-in;
}

.tabs {
    padding-top: 10px;
    padding-bottom: 30px;
}

.tabs a {
    padding-right: 10px;
}

.food-filters {
    padding-top: 30px;
}

.tabslinks {
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
    padding-bottom: 20px;
}

.nav-link {
    color: #000 !important;
}

.card-s {
    width: 100%;
    display: flex;
    height: 100px;
}

.img-set {
    max-width: 120px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.img-set img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.food-detail {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-top: 10px;
}

.name-favourtbtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rating {
    width: 100%;
    padding-bottom: 8px;
}

.prise-addbtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-inner {
    padding: 10px;
    background: rgb(241, 245, 252);
    border-radius: 10px;
    margin-bottom: 10px;
}

.name-favourtbtn p {
    margin-bottom: 0;
}

.add-to-cartbtn {
    background: none;
    border: none;
}

.cart {
    margin-bottom: 100px;
}

@media (max-width: 992px) {
    .nav-tabs {
        box-shadow: 0 3px 15px 0 rgb(40 44 63 / 20%);
        border: 1px solid rgba(0, 0, 0, .04);
        width: 100%;
        background-color: #fff;
    }

    .shop-detail-item:after {
        display: none;
    }
}

@media (max-width: 768px) {
    .Favouricon {
        margin-top: 15px;
    }

    .food-filters {
        padding-top: 15px;
    }
}

@media (max-width: 570px) {
    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

@media (max-width: 400px) {
    .card-s {
        height: 80px;
    }

    .img-set {
        max-width: 100px;
        width: 100%;
    }

    .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

/*location-page*/
.location-main {
    width: 100%;
    padding-top: 50px;
    background: rgb(249, 249, 249);
}

.location-inner {
    display: flex;
    flex-direction: column;
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.location-img {
    max-width: 270px;
    background: red;
    width: 100%;
}

.location-img img {
    width: 100%;
    height: 290px;
}

.location-text {
    max-width: 700px;
    width: 100%;
    text-align: center;
    align-items: center;
}

.location-btn {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.current-location {
    height: 40px;
    border-radius: 5px;
    background-color: rgb(239, 120, 34);
    width: 100%;
    border: none;
    font-size: 20px;
    color: #fff;
}

#current-location img {
    width: 20px;
    margin-right: 5px;
}

#mapbtn {
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgb(239, 120, 34);
    width: 100%;
    background: transparent;
    margin-top: 30px;
    color: rgb(239, 120, 34);
    font-size: 20px;
}

#mapbtn img {
    width: 20px;
    margin-right: 5px;
}

.location-heading {
    margin-top: 40px;
    margin-bottom: 30px;
}

/*map-section*/
.map-div {
    width: 100%;
    position: relative;
}

iframe {
    width: 100%;
    height: 100vh;
}

.search-location {
    position: absolute;
    top: 42px;
}

.search-set {
    height: 60px;
    width: 98%;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    left: 1%;
}

.input-search {
    height: 60px !important;
}

.gmnoprint {
    display: none;
}

.pick-location {
    position: absolute;
    bottom: 15px;
    left: 56px;
    width: 90%;
}

.foodsearc {
    position: static;
}

.food-tabss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.food-tabss li {
    width: 50%;
    text-align: center;
}

.food-search-in {
    padding-top: 70px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.search-section {
    padding-bottom: 80px;
}

.cancel-food-search {
    border: none;
    border: none;
    text-align: center;
    font-weight: 700;
    color: rgb(239, 120, 34);
    background: none;
    font-size: 18px;
}

.ser-food {
    max-width: 92%;
    width: 100%;
    height: 30px !important;
}

.menucontainer {
    position: relative;
}

@media (min-width: 992px) {
    .restaurant-banner {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 1400px) {
    .content-wrapper-img {
        left: 0;
    }
}

@media (max-width: 1199px) {
    .content-wrapper-img {
        left: -5%;
    }
}

@media (max-width: 992px) {
    .content-wrapper-img {
        width: 102%;
        left: 0;
        height: 270px;
        object-fit: cover;
    }

    .restaurant-banner {
        margin-top: 110px;
    }
}

/*privacy policy*/
.privacy {
    margin: 60px 0;
}
.privacy h2{
    font-size: 26px;
    margin-bottom: 20px;
}

.privacy h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.privacy p{
    font-size: 14px;
    margin-bottom: 10px;
}

.privacy .mb-5{
    margin-bottom: 40px;
}

.privacy > div{
    margin-bottom: 35px;
}
/*custom code css*/
